/* Global Colors */
:root {
  --main-color: #f0776c;
  --secondary-color: #6a6b6d;
  --primary-color: #e8e8e8;
  --header-background-color: #2d2f31;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: #3c5c96;
}

/* Header Style */

.message-header {
  background-color: var(--header-background-color);
  text-align: center;
  padding: 40px 0px;
  color: white;
}

.message-header figure img {
  border-radius: 100%;
  width: 120px;
  border: 3px var(--secondary-color) solid;
}

.message-header figcaption h2 {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
  border: 1px solid;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.copy-link__btn {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.7s;
  overflow: hidden;
  border: none;
  color: white;
  font-family: "Noto Kufi Arabic", sans-serif;
  cursor: pointer;
}

.message-header figcaption h2:hover .copy-link__btn {
  width: 100%;
  opacity: 1;
}

.message-header figcaption div i {
  font-size: 16px;
}

.message-header figcaption p {
  font-weight: 300;
  font-size: 13px;
}

/* Body Style */

.message-body {
  text-align: center;
  padding: 20px 0;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 12px 10px;
}

/* Body Style > Tabs */

.message-body .tabs {
  list-style: none;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.message-body .tabs .tab {
  color: #545658;
  font-size: 14px;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.message-body .tabs .tab.active {
  background-color: var(--header-background-color);
  color: white;
  border-radius: 10px;
  transition: all 1s;
}

/* Body Style > Message */
.message-container {
  margin: 0 auto;
}

.no-message__card {
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 14px;
  width: 80%;
  margin: 32px auto;
}

.no-message__card i {
  font-size: 82px;
  color: var(--main-color);
}

.no-message__card h3 {
  margin-top: 5px;
}

.no-message__card p {
  font-size: 14px;
}

.message-container__header {
  display: flex;
  justify-content: space-between;
}

.message-container__header div {
  font-size: 12px;
}

.message-container__header div .dropdown .dropdown-icon {
  border-radius: 5px;
  padding: 3px 8px;
  position: relative;
  background-color: var(--primary-color);
  cursor: pointer;
}

.message-container__header div .dropdown .dropdown-list {
  list-style: none;
  text-align: right;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  margin-top: 5px;
  position: absolute;
  z-index: 1;
}

.message-container__header div .dropdown .dropdown-list li {
  margin: 10px 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.4s;
  padding: 5px 20px;
}

.message-container__header div .dropdown .dropdown-list li:hover {
  background-color: var(--primary-color);
}

.message-container__header div .dropdown .dropdown-list li:nth-child(2) {
  color: red;
}

.message__card {
  background-color: #fff;
  padding: 14px;
  border-radius: 11px;
  width: 100%;
  margin: 32px auto;
}
.message__card > p {
  text-align: right;
  font-size: 20px;
}

.message__card_container {
  min-width: 300px;
  margin: 10px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.message__card .image {
  max-width: 50px;
  border-radius: 50%;
  padding: 3px;
  background-color: #303641;
  border: 5px solid var(--section-background);
}
.message__card .image img {
  width: 100%;
  border-radius: 50%;
}
.message__card .message {
  flex-basis: 100%;
  background-color: var(--section-background);
  padding: 14px;
  border-radius: 11px;
  position: relative;
}
.message__card .message::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 100%;
  border-color: transparent transparent transparent var(--section-background);
  border-style: solid;
  border-width: 15px;
}
.message__card .message .logo-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message__card .message .logo-name i {
  font-size: 18px;
}
.message__card .message .logo-name p {
  width: fit-content;
}
.message__card .message .logo-name p span {
  font-size: 12px;
  color: #777;
}
.message__card hr {
  margin: 5px auto;
  width: 75%;
}
.message__card .text-message {
  margin: 10px auto;
  max-width: 75%;
}
.message__card button {
  background-color: #f1786c;
  color: #ffffff; /* white */
  display: block;
  margin: 10px auto 0px 0px;
  padding: 10px 20px;
  border-radius: 0.375rem; /* 3 units */
  border: none;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  margin-bottom: 10px;
}
.message__card button:hover {
  background-color: #ec6155;
}
/* start footer */
footer {
  background-color: #2d2f31;
  padding: 50px;
}
footer ul {
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: space-around;
  max-width: 300px;
}
footer ul li {
  max-width: 50px;
}
footer ul li img {
  max-width: 100%;
}
footer small {
  margin: 10px auto;
  display: block;
  width: fit-content;
  color: #a0a0a0;
}
footer .links {
  color: #fff;
  font-size: 20px;
  margin: auto;
  max-width: 400px;
}
footer .links a {
  color: #fff;
  font-size: 20px;
}
footer .links img {
  max-width: 30px;
  margin-right: 5px;
}
/* end footer */
